@media (max-width: 1200px) {
  .recent-post {
    display: none;
  }

  .blog-page {
    .filter-category {
      display: none;
    }

    &__inner {
      flex-direction: column;
    }

    &__content {
      width: 100%;
      max-width: 100%;
    }

    &__aside {
      max-width: 100%;
      width: 100%;
      order: -1;

      .filter-search {
        margin-bottom: 30px;

        &__input {
          width: 100%;
        }
      }
    }

    &__item {
      width: 100%;
      max-width: 100%;
    }

    &__item-img {
      width: 100%;
    }
  }

  .promo {
    &__inner {
      width: 60%;
    }

    &__wrapper {
      background-size: 40%;
    }
  }

  .products {
    padding: 60px 0;

    &__inner {
      display: block;
    }

    &__filter {
      width: 100%;
      margin-right: 0;
      display: none;
      position: absolute;
      z-index: 100;
      background: #fff;
      top: 20px;
      left: 0;
    }

    .filter-recent {
      display: none;
    }

    &__filter-btn {
      display: block;
      border: none;
      background-color: $btn;
      padding: 0;
      width: 60px;
      height: 60px;
      position: fixed;
      right: 0;
      z-index: 101;
      bottom: 50px;
      cursor: pointer;
    }
  }

  .filter__title {
    padding-left: 15px;
  }

  .irs--flat {
    padding: 0 15px;
  }

  .filter-price__text {
    padding: 0 15px;
  }

  .contact-form {
    margin-right: 30px;

    &__box-input {
      display: block;
      margin-bottom: 0;
    }

    &__text-input {
      width: 100%;
      max-width: 100%;
      margin-bottom: 25px;
    }
  }
}



@media (max-width: 1050px) {
  .promo {
    &__inner {
      width: 100%;
      padding-top: 0;
      padding-bottom: 0;
    }

    &__wrapper {
      background-image: none;
    }
  }

  .team {
    &__inner {
      display: block;
    }

    &__info {
      max-width: 100%;
      margin-bottom: 40px;
    }

    &__text {
      padding-bottom: 40px;
    }

    &__item-img {
      width: 100%;
    }
  }

  .product-slide {
    &__thumb {
      display: none;
    }
  }

  .product-one {
    &__slide {
      max-width: 380px;
      width: 100%;
      margin-right: 30px;
    }
  }
}

@media (max-width: 870px) {
  .comments-form {
    &__box-input {
      display: block;
      margin-bottom: 0;
    }

    &__text-input {
      width: 100%;
      max-width: 100%;
      margin-bottom: 20px;
    }
  }

  .product-one {
    &__inner {
      display: block;
    }

    &__slide {
      margin: 0 auto 30px;
    }

    &__content {
      width: 100%;
    }
  }

  .product-page {
    padding: 60px 0;
  }

  .contact {
    ul.contact__info-list {
      display: block;
      margin-bottom: 60px;
    }

    &__info-item {
      max-width: 100%;
      padding: 30px 0;
    }

    &__info-icon {
      margin-bottom: 10px;
    }
  }

  .contact__box {
    display: block;
  }

  .contact-form {
    max-width: 100%;
    margin-bottom: 40px;
  }

  #map {
    max-width: 100%;
  }
}

@media (max-width: 800px) {
  .team {
    padding: 60px 0;

    &__items {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .products-content {
    &__filter-buttons {
      display: none;
    }
  }

  .product-tabs {
    &__top-item {
      width: 100%;
      margin-bottom: 15px;

      &+.product-tabs__top-item {
        margin-left: 0;
      }
    }
  }
}

@media (max-width: 678px) {
  .numbers {
    padding: 20px 0;

    &__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 30px;
    }
  }
}

@media (max-width: 600px) {
  .blog-page {
    padding: 60px 0;

    &__item-img {
      height: 300px;
    }

    &__item-title {
      font-size: 26px;
      line-height: 32px;
    }
  }

  .blog-one {
    &__left-img {
      width: 100%;
    }

    &__author-info {
      margin-right: 30px;
      margin-bottom: 20px;
    }

    &__author-img {
      display: none;
    }

    &__box {
      flex-wrap: wrap;
    }

    &__item {
      blockquote {
        padding: 15px 25px;
      }

      h2 {
        font-size: 30px;
      }
    }
  }

  .comments {
    &__img {
      display: none;
    }

    &.comments--replied {
      margin-left: 60px;
    }
  }

  .promo {
    &__inner {
      margin: 60px 0;
      padding-left: 30px;
    }

    &__num-list {
      display: block;
    }

    &__num-box {
      padding-left: 0;
      margin-bottom: 15px;
    }

    &__subtitle-num {
      font-size: 100px;
      line-height: 120px;
    }
  }
}

@media (max-width: 500px) {
  .related {
    margin-bottom: 60px;

    &.slick-arrow {
      top: -160px;
    }

    &__title {
      width: 250px;
      font-size: 32px;
    }
  }
}

@media (max-width: 400px) {
  .numbers {
    &__list {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .team {
    &__item-link--instagram {
      right: 65px;
    }

    &__item-link--google {
      right: 15px;
    }
  }

  .product-slide {
    &__big-item img {
      width: 300px;
    }

    &__big {
      width: 290px;
      height: 405px;
      margin: 0 auto;
    }
  }

  .product-one {
    &__item-btn {
      margin-left: 0;
      margin-top: 30px;
    }
  }

  .product-tabs {
    padding-top: 50px;
  }
}