@media (max-width: 1200px) {
  .menu {
    &__list {
      position: relative;
    }
  }

  .footer-top {
    justify-content: space-between;

    &__contact {
      margin-right: 30px;
    }

    &__nav {
      margin-right: 30px;
    }
  }
}

@media (max-width: 1050px) {
  .menu {
    &__list {
      transform: translateY(-200%);
      position: absolute;
      width: 100%;
      top: 105px;
      left: 0;
      flex-direction: column;
      align-items: center;
      z-index: 5;
      transition: all .3s;
      background-color: #fff;

      &.menu__list--active {
        transform: translateY(0%);
        transition: all .3s;
      }
    }

    &__list-item+.menu__list-item {
      padding-left: 0;
    }

    &__list-item {
      width: 100%;
      text-align: center;
      padding: 5px 0;
    }

    &__list-link {
      width: 100%;
      display: block;
      padding: 5px 0;
    }

    &__btn {
      width: 30px;
      height: 22px;
      border: none;
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      padding: 0;
      transition: all .3s;

      &.menu__btn--active {
        transition: all .3s;

        span {
          display: none;
        }

        &::before {
          top: 9px;
          transform: rotate(-45deg);
          border-radius: 3px;
        }

        &::after {
          bottom: 10px;
          transform: rotate(45deg);
          border-radius: 3px;
        }

      }

      span {
        width: 100%;
        height: 3px;
        background-color: $accent;
      }

      &::after,
      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: $accent;
      }

      &::before {
        top: 0;
      }

      &::after {
        bottom: 0;
      }
    }
  }

  .logo {
    order: -2;
  }

  .user-nav {
    order: -1;
  }
}

@media (max-width: 870px) {
  .footer-top {
    justify-content: flex-start;

    &__contact {
      margin-right: 70px;
    }

    &__nav {
      margin-right: 0;
    }

    &__nav+.footer-top__nav {
      margin-left: 70px;
    }

    &__item-form {
      max-width: none;
    }
  }

  .footer-bottom {
      justify-content: center;
    &__copy{
      text-align: center;
    }
    &__list {
      width: 100%;
      justify-content: center;
    }
  }
}

@media (max-width: 600px) {
  .menu {
    &__btn {
      margin-left: 100px;
    }
  }

  .user-nav {
    order: 0;
    margin-top: 25px;
    margin-left: auto;
  }

  .footer-top__contact {
    max-width: none;
    width: 100%;
  }
}