@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
  padding: 50px 0 55px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  align-items: center;
  display: flex;

  &__list {
    display: flex;
    justify-content: center;
    position: absolute;
    right: 0;
    left: 0;
  }

  &__list-item+.menu__list-item {
    padding-left: 35px;
  }

  &__list-link {
    color: $accent-light;
    @extend %rubik-500;
    font-size: 15px;

    &:hover {
      font-weight: bold;
      padding-bottom: 2px;
      border-bottom: 1px solid $accent-light;
      transition: all .3s;
    }
  }

  &__list-link--active {
    font-weight: bold;
    padding-bottom: 2px;
    border-bottom: 1px solid $accent-light;
  }
}

.user-nav {
  display: flex;
  width: 320px;
  justify-content: space-between;

  &__link {
    position: relative;
  }

  &__inner-search {
    background-color: #edf1f4;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 17.5px;
    position: relative;
  }

  &__inner-shop {
    display: flex;
    width: 180px;
    justify-content: space-between;
    background-color: #fcd7b6;
    padding: 16.5px 40px;
    position: relative;
    border-radius: 25px;

    &::before {
      content: '';
      height: 30px;
      width: 1px;
      background-color: #fde7d3;
      position: absolute;
      top: 10px;
      right: 90px;
      z-index: 2;
    }
  }

  &__inner-dots {
    background-color: $btn;
    width: 50px;
    border-radius: 50%;
    padding: 15px 15px
  }

  &__num {
    @extend %dmsans-400;
    font-size: 10px;
    line-height: 15px;
    text-align: center;
    position: absolute;
    color: $accent;
    height: 15px;
    width: 15px;
    background-color: #fff;
    border-radius: 50%;
    top: -7px;
    right: -8px;
  }
}

.footer-top {
  padding: 80px 0 70px;
  display: flex;
  border-bottom: 1px solid #dae4e9;

  &__contact {
    width: 200px;
    margin-right: 100px;
  }

  &__nav {
    width: 170px;
    margin-right: 130px;
  }

  &__item-form {
    max-width: 270px;
  }

  &__logo {
    margin-bottom: 27px;
    display: block;
  }

  &__address,
  &__email,
  &__phone {
    display: block;
    margin-bottom: 16px;
  }

  &__title {
    color: #1f2044;
    @extend %dmsans-700;
    margin: 20px 0 20px;
    font-size: 16px;
    line-height: 1;
  }

  &__link {
    margin-bottom: 12px;
    display: block;
  }

  &__text {
    margin-bottom: 37px;
    font-size: 14px;
    line-height: 20px;
  }

  &__form {
    display: flex;
  }

  &__form-input {
    background-color: $bg-form;
    max-width: 170px;
    width: 100%;
    border: none;
    padding: 4px 16px;

    &::placeholder {
      color: #234969;
      font-size: 12px;
    }
  }

  &__form-btn {
    border: none;
    background-color: $btn;
    color: #fff;
    padding: 4px 16px;
    cursor: pointer;
    font-size: 14px;
  }
}

.footer-bottom {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__list {
    display: flex;
  }

  &__item {
    line-height: 1;
    padding-right: 15px;

    &:last-child {
      padding-right: 0;
    }
  }

  &__item+.footer-bottom__item {
    padding-left: 15px;
    border-left: 1px solid $default;
  }
}

.top {
  text-align: center;
  background-color: #edf1f4;
  padding: 30px 0 25px;

  &__title {
    font-size: 36px;
    @extend %rubik-300;
    color: #222933;
    padding-bottom: 10px;
  }
}

.top-slider {
  &__inner {
    background-image: url(../images/decor/top-slider-bg.png);
    background-repeat: no-repeat;
    background-position: right 185px center;
    background-color: $bg;
    padding: 215px 0 45px;
  }

  &__item {
    display: flex !important;
    justify-content: space-between;
  }

  &__content {
    max-width: 470px;
    margin-bottom: 20px;
  }

  &__title {
    font-size: 72px;
    line-height: 70px;
    color: $accent;
    @extend %rubik-500;
    padding-bottom: 23px;
  }

  &__text {
    font-size: 18px;
    color: $accent-light;
    padding-bottom: 40px;
  }

  &__link {
    background-color: $btn;
    color: #fff;
    font-size: 15px;
    line-height: 12px;
    padding: 16px 100px 16px 25px;
    position: relative;

    &::after {
      content: '';
      background-image: url(../images/icons/arrow.png);
      width: 22px;
      height: 9px;
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__img {
    max-height: 264px;
    margin-top: auto;
  }
}

ul.slick-dots {
  display: flex;
  justify-content: center;
  margin-top: 190px;

  li {
    padding: 0 5px;

    button {
      padding: 0;
      background-color: #fff;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: none;
      font-size: 10.88px;
      line-height: 8.7px;
      @extend %rubik-500;
      color: $accent;
      opacity: 30%;
    }

    &.slick-active {
      button {
        opacity: 1;
      }
    }
  }

}

.info {
  height: 165px;
  background-color: $bg-form;
  display: flex;
  justify-content: space-around;
  align-items: center;

  &__item {
    position: relative;
    width: 220px;
  }

  &__item-img {
    position: absolute;
    left: -75px;

    &::after {
      content: '';
      width: 20px;
      height: 20px;
      background-color: $btn;
      border-radius: 50%;
      position: absolute;
      right: -3px;
      bottom: 5px;
      opacity: 35%;
    }
  }

  &__item-title {
    @extend %dmsans-700;
    font-size: 18px;
    color: #414141;
    line-height: 1;
    margin-bottom: 10px;
  }
}

.product {
  margin-bottom: 185px;

  &__filter-btn {
    text-align: center
  }

  &__btn {
    background-color: transparent;
    border: none;
    margin: 20px 0 80px;
    color: $default;
    @extend %dmsans-700;
  }

  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 30px;
  }

  &__item {
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    border-radius: 10px;
    padding-bottom: 35px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    height: 425px;
    width: 260px;
    &-star{
      display: none;
    }
    &-text{
      display: none;
    }
    &-price--list{
      display: none;
    }
    &-btn{
      display: none;
    }

    &.product__item--list {
      box-shadow: none;
      display: flex;
      flex-direction: unset;
      text-align: left;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 0;
      height: 500px;

      &:nth-child(n+5){
        display: none;
      }

      .product__item-img {
        margin: 0;
      }
      .product__item-tool {
        opacity: 1;
      }
      .product__item-imgbox{
        width: 370px;
        height: 500px;
        border: 1px solid #f2f2f2;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 55px;
      }
      .product__item-textbox{
        color: $accent;
        .product__item-title{
          font-size: 40px;
          padding: 90px 0 20px;
          @extend %rubik-400;
          color: #333;
        }
        .product__item-price{
          font-size: 30px;
          color: $accent;
          padding: 25px 0 20px;
          @extend %rubik-400;
          color: #333;
          &--list{
            display: block;
            
          }
          &--default{
            display: none;
          }
        }
        .product__item-star{
          display: block;
          svg{
            width: 20px;
            height: 20px;
          }
        }
        .product__item-text{
          display: inline-block;
          width: 440px;
        }
        .product__item-btn {
          display: block;
          position: absolute;
          left: 430px;
          bottom: 70px;
          z-index: 5;
          border: none; 
          background-color: $btn;
          text-transform: uppercase;
          color: #fff;
          padding: 18px 50px;
          line-height: 1;
          border-radius: 5px;
          cursor: pointer;
          outline: none;
          &.product__item-btn--active{
            opacity: 0;
          }
        }
      }
      .product__item-tools{
        left: 430px;
        bottom: 70px;
        .product__item-cart{
          background-color: $btn;
          color: #fff;
          path{
            fill: #fff;
          }
        }
        .product__item-tool {
          border-radius: 0;
          &:first-child{
            display: none;
          }
          &:nth-child(2){
            margin-left: 0;
          }
        }
      }
      
    }

    &:hover .product__item-tool {
      opacity: 1;
    }

    &-img {
      margin: auto auto;
      object-fit: contain
    }

    &-title {
      @extend %dmsans-500;
      font-size: 16px;
      color: $accent;
    }

    &-price {
      @extend %dmsans-700;
      font-size: 16px;
      color: $btn;
    }

    &-tools {
      display: flex;
      position: absolute;
      bottom: 155px;
    }

    &-tool {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      margin: 0 10px;
      border: none;
      cursor: pointer;
      opacity: 0;
      transition: all .5s;
      outline: none;

      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3) {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
      }

      &:nth-child(1):hover,
      &:nth-child(2):hover,
      &:nth-child(3):hover {
        background-color: $btn;

        & path {
          fill: #fff;
        }
      }

    }
  }

}

.offer {
  &__items {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    background-color: #feefe2;
    padding: 90px 130px 95px 385px;
    position: relative;
    max-width: 870px;
    color: $accent;

    &-img {
      position: absolute;
      bottom: 80px;
      left: 120px;
    }

    &-title {
      @extend %dmsans-700;
      font-size: 26px;
      padding-bottom: 25px;
      line-height: 14px
    }

    &-text {
      padding-bottom: 30px;
    }

    &-btn {
      border: 1px solid #b3b7b5;
      color: $accent-light;
      background-color: transparent;
      border-radius: 5px;
      padding: 20px 85px 20px 20px;
      position: relative;
      @extend %rubik-500;
    }
    svg {
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__item+.offer__item {
    margin-left: 30px;
  }
}

.design {
  margin-bottom: 120px;

  &__filter-btn {
    text-align: center
  }

  &__btn {
    background-color: transparent;
    border: none;
    margin: 20px 0 80px;
    color: $default;
    @extend %dmsans-700;
  }

  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 30px;
  }

  &__item {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 35px 0px 30px 40px;
    position: relative;
    height: 245px;

    &-title {
      @extend %dmsans-700;
      font-size: 20px;
      line-height: 22px;
      color: #191919;
      width: 180px;
      position: absolute;
      top: 40px;
      left: 35px;
    }

    &-price {
      @extend %dmsans-700;
      font-size: 16px;
      color: $btn;
      position: absolute;
      top: 95px;
      left: 35px;
    }
  }

}

.video-play {
  background-image: url(../images/top-slider.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  margin-bottom: 110px;

  &__popup {
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.article {
  position: relative;

  &::before {
    content: '';
    height: 186px;
    width: 100%;
    background-color: $bg-form;
    position: absolute;
    bottom: 0;
    z-index: -1;
  }

  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 50px;
  }

  &__link {
    font-size: 16px;
    @extend %dmsans-700;
    color: #262626;

    svg {
      margin-left: 15px;
    }
  }

  &__items {
    display: flex;
    justify-content: space-between;
  }
}

.article-item {
  max-width: 370px;
  border-radius: 10px;
  position: relative;

  &__news {
    position: absolute;
    width: 100px;
    background-color: $btn;
    color: #fff;
    padding: 10px 30px;
    line-height: 1;
    font-size: 14px;
    border-radius: 15px;
    top: 235px;
    left: 30px;
    @extend %poppins-700;
  }

  &__text {
    padding-top: 30px;
    padding-bottom: 15px;
    @extend %dmsans-500;
    color: #262626;
    font-size: 18px;
    line-height: 24px;
    border-bottom: 1px solid #e0e0e0;
  }

  &__bottom {
    font-size: 12px;
    padding: 0 30px;
    background-color: #fff;
  }

  &__info {
    display: flex;
    padding-top: 15px;
    padding-bottom: 25px;
    color: #222933;
  }
  &__icon {
    padding-right: 5px;
  }

  &__data {
    padding-right: 30px;
  }
}

.partners {
  padding: 76px 0 90px;
  background-color: $bg-form;
  right: 0;
  left: 0;
  bottom: 0;

  &__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.modal {
  padding-top: 110px;
  max-width: 470px;
  margin: 0 auto 120px;

  &__label {
    display: block;
    color: $accent-light;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 25px;
  }

  &__input {
    display: block;
    width: 100%;
    border: 2px solid #f6f6f6;
    margin-top: 4px;
    height: 60px;
    padding: 0 15px;
  }

  &__btn {
    display: block;
    background-color: $btn;
    color: #fff;
    @extend %rubik-500;
    font-size: 18px;
    padding: 14px 0;
    border: none;
    width: 100%;
    cursor: pointer;
    margin-top: 37px;
    margin-bottom: 25px;
  }

  &__form-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 2px solid #f6f6f6;
    color: $accent-light;
    margin-bottom: 25px;
  }

  &__error {
    color: inherit;
  }

  &__links {
    text-align: center;
  }

  &__link {
    color: $accent-light;
    display: block;
    margin-bottom: 10px;
  }

  &__link-btn {
    display: block;
    border: 2px solid $btn;
    color: $accent;
    font-size: 18px;
    line-height: 1;
    padding: 20px 0;
    @extend %rubik-500;
  }
}

.promo {
  &__wrapper {
    background-image: url(../images/promo-bg.jpg);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: left;
  }

  &__inner {
    margin: 120px 0;
    padding: 85px 0 98px 50px;
    width: 50%;
    margin-left: auto;
    color: $accent;
  }

  &__subtitle {
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
  }

  &__subtitle-num {
    font-size: 140px;
    line-height: 140px;
    color: $btn;
    @extend %rubik-700;
  }

  &__subtitle-inner {
    margin-left: 20px;
    padding-bottom: 15px;
  }

  &__title {
    @extend %dmsans-700;
    margin-bottom: 40px;
  }

  &__text {
    padding-bottom: 50px;
    border-bottom: 2px solid #ebeef3;
    margin-bottom: 40px;
  }

  &__num-list {
    display: flex;
    align-items: center;
  }

  &__num-img {
    padding-left: 60px;

    &:nth-child(1) {
      padding-left: 0;
    }
  }

  &__num-item {
    @extend %dmsans-700;
    font-size: 36px;
    padding-left: 15px;

    p {
      font-size: 16px;
      color: #4c4c4c;
    }
  }
}

.numbers {
  background-color: $bg;
  padding: 85px 0 75px;

  &__list {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
  }

  &__item {
    text-align: center;
    color: $accent;

    &-img {
      display: flex;
      height: 64px;
      max-width: 67px;
      margin: 0 auto;
      position: relative;
      align-items: center;
      justify-content: space-around;
      z-index: 1;

      &::after {
        content: '';
        width: 35px;
        height: 35px;
        position: absolute;
        border-radius: 50%;
        background-color: $btn;
        bottom: 3px;
        right: -8px;
        z-index: -1;
      }
    }

    &-nmb {
      @extend %dmsans-700;
      font-size: 36px;
      padding-top: 20px;
    }

    p {
      font-size: 18px;
      padding-top: 15px;
    }
  }
}

.team {
  padding: 120px 0 110px;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__info {
    max-width: 300px;
  }

  &__title {
    text-align: left;
    padding-bottom: 25px;
    margin-top: 0;
  }

  &__text {
    padding-bottom: 65px;
    color: $accent;
  }

  &__link {
    background-color: $btn;
    color: #fff;
    @extend %poppins-700;
    padding: 15px 25px 15px 15px;
    border-radius: 5px;

    svg {
      margin-left: 15px;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 40px 30px;
  }

  &__item {
    position: relative;
    box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);

    &-link--instagram,
    &-link--google {
      width: 41px;
      height: 41px;
      position: absolute;
      bottom: 30px;
      border-radius: 50%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      display: block;
    }

    &-link--instagram {
      background-image: url(../images/icons/instagram.svg);
      right: 115px;
    }

    &-link--google {
      background-image: url(../images/icons/google.svg);
      right: 65px;
    }

    &-img {
      background-color: #fff;
    }

    &-title {
      @extend %dmsans-700;
      font-size: 22px;
      color: $accent;
      padding-top: 20px;
      padding-left: 25px;
      position: absolute;
      width: 325px;
      bottom: 59px;
      left: 0;
      background-color: #fff;
    }

    &-subtitle {
      color: #565872;
      padding: 5px 0px 25px 25px;
    }
  }
}

.terms {
  color: $accent;
  padding: 55px 0 100px;

  &__title {
    @extend %rubik-500;
    font-size: 24px;
    padding-top: 60px;
  }

  &__item {
    list-style-type: decimal-leading-zero;
    padding-top: 15px;
    margin-left: 30px;
    padding-left: 5px;
  }

  &__text {
    padding-top: 10px;
  }
}

.products {
  padding: 120px 0;

  &__inner {
    display: flex;
  }

  &__filter {
    min-width: 270px;
    margin-right: 30px;
  }
}

.filter {
  &__item {
    margin-bottom: 60px;
  }

  &__filter-head {}

  &__title {
    text-transform: uppercase;
    color: $accent;
    font-size: 18px;
    line-height: 1;
    @extend %dmsans-700;
    margin-bottom: 30px;
    display: inline-block;
    margin-right: 15px;
  }

  &__title-line {
    width: 38px;
    height: 3px;
    background-color: $btn;
    display: inline-block;
    margin-bottom: 5px;
  }
}

.filter-category {
  &__label {
    display: block;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__input {
    @extend %checkbox-hidden;

    &:checked+.filter-category__checkbox {
      background-color: #edf1f4;
      border-radius: 5px;
    }
  }

  &__checkbox {
    background: transparent;
    padding: 10px 20px 10px 15px;
    color: $accent;
  }

  &__text {
    position: relative;

    &::after {
      content: '';
      width: 5px;
      height: 10px;
      position: absolute;
      background-image: url(../images/icons/arrow-right.svg);
      right: 0;
      top: 10px;
      z-index: 5;
    }
  }
}

.filter-price {
  &__text {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: $accent;
    line-height: 1;
  }
}

.irs--flat .irs-line {
  top: 9px;
  height: 3px;
  background-color: #c2d2db;
  border-radius: 0px;
}

.irs--flat .irs-handle {
  top: 3px;
  width: 15px;
  height: 15px;
  background-color: $btn;
}

.irs--flat .irs-handle>i:first-child {
  display: none;
}

.irs--flat .irs-bar {
  top: 9px;
  height: 4px;
  background-color: $btn;
}

.irs-from,
.irs-to,
.irs-single {
  display: none;
}

.irs--flat .irs-min,
.irs--flat .irs-max {
  display: none;
}

.irs--flat {
  height: 30px;
}

.filter-brand {
  &__label {
    display: block;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__input {
    @extend %checkbox-hidden;

    &:checked+.filter-brand__checkbox {
      background-color: #edf1f4;
      border-radius: 5px;
      color: $accent;
    }
  }

  &__checkbox {
    background: transparent;
    padding: 10px 20px 10px 15px;
    color: #b3b3b3;
    display: flex;
    justify-content: space-between;

    &-text {
      color: $accent;
    }
  }
}

.filter-recent {
  &__img {
    margin-right: 20px;
    width: 70px;
    height: 70px;
    border: 3px solid #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__item {
    display: flex;
    font-size: 14px;
    line-height: 22px;
    color: #333;
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__title {
    padding-bottom: 5px;
  }

  &__price {
    padding-top: 5px;
    font-size: 15px;
  }
}

.jq-ry-container {
  padding: 0;
}

.products-content {
  width: 100%;

  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &.products-content__inner--list {
      display: block;

      .product__item--list {
        width: 100%;
      }
    }
  }

  &__filter {
    border: 1px solid #ececec;
    padding: 20px 25px 20px 30px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__filter-buttons {
    display: flex;
    align-items: center;
  }

  &__filter-btn {
    outline: none;
    padding: 0;
    border: none;
    background-color: transparent;
    margin-left: 15px;
    line-height: 0;
    cursor: pointer;

    &.products-content__filter-btn--active {
      path {
        fill: $accent;
      }
    }
  }

  .product__item {
    width: 270px;
    margin-bottom: 40px;
  }
}

.jq-selectbox__select {
  margin-left: 30px;
  height: 32px;
  padding: 0 30px 0 0;
  border: none;
  background: transparent;
  box-shadow: none;
  color: $default;
  text-shadow: none;

  &:hover {
    background: transparent;
  }
}

.jq-selectbox__trigger {
  border-left: none;
}

.jq-selectbox__trigger-arrow {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 10px;
  height: 5px;
  border: none;
  background-image: url(../images/icons/angle-down.svg);
}

.product-page{
  padding: 120px 0;
}

.product-one {
  &__inner {
    display: flex;
  }

  &__slide {
    width: 550px;
    margin-right: 70px;
  }

  &__content {
    width: 550px;
  }

  &__title {
    margin-bottom: 25px;
    font-size: 40px;
    color: #333;
  }
  &__price {
    font-size: 30px;
    color: #333;
    margin-bottom: 30px;
  }

  &__item-star {
    margin-bottom: 40px;
  }

  &__item-text {
    margin-bottom: 30px;
    color: $accent;
  }

  &__item-btn {
    border: none;
    margin-left: 15px;
    cursor: pointer;
    margin-bottom: 50px;
    padding: 20px 50px;
    line-height: 1;
    color: #fff;
    background-color: $btn;
    text-transform: uppercase;
    border-radius: 5px;
  }
}

.product-info{
  &__item{
    display: flex;
    color: $accent;
  }
  &__title{
    margin-right: 5px;
  }
}

.product-slide {
  display: flex;

  .slick-vertical .slick-slide {
    height: 160px;
    margin-bottom: 20px;
  }

  .slick-list{
    height: auto !important;
  }
  
  &__thumb {
    width: 135px;
    margin-right: 30px;
  }

  &__thumb-item {
    cursor: pointer;
    border: 2px solid #f2f2f2;
    img {
      width: 135px;
      height: 160px;
      object-fit: cover;
    }
  }

  &__big {
    width: 385px;
    height: 525px;
    border: 2px solid #f2f2f2;
    img {
      object-fit: cover;
    }
  }
}

.jq-number__field {
  width: 150px;
  border: 1px solid $btn;
}

.jq-number__field input {
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  color: $accent;
  text-align: center;
}

.jq-number {
  padding: 0;
  position: relative;
}

.jq-number__spin {
  position: absolute;
  cursor: pointer;
  width: 50px;
  height: 53px;
  border: 1px solid $btn;
}

.jq-number__spin.minus {
  left: 0px;
  bottom: 0;
  top: 0;
}

.jq-number__spin.plus {
  right: 0px;
  bottom: 0;
  top: 0;
}

.jq-number__spin::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  background-color: $accent;
  width: 8px;
  height: 1px;
}

.jq-number__spin.plus::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  background-color: $accent;
  width: 1px;
  height: 8px;
}

.product-tabs{
  padding: 90px 0 0px;
  &__top{
    text-align: center;
  }
  &__top-item{
    @extend %rubik-500;
    font-size: 18px;
    color: $accent;
    padding: 15px 0px;
    width: 240px;
    text-align: center;
    background-color: #edf1f4;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 35px;
    &+.product-tabs__top-item{
      margin-left: 20px;
    }
  }
  &__top-item--active{
    background-color: $btn;
    color: #fff;
  }
  &__content-item {
    display: none;

    &.product-tabs__content-item--active {
      display: block;
    }
  }
}

.descr{
  color: $accent;
}

.related{
  margin-bottom: 110px;
  &__top{
    margin-bottom: 70px;
  }
  &__title{
    margin-top: 0;
    text-align: left;
  }
  &__items{
    .product__item{
      display: inline-flex !important;
      height: 380px;
    }
  }
  .slick-arrow{
    position: absolute;
    width: 50px;
    height: 50px;
    font-size: 0;
    background: transparent;
    border: 2px solid $btn;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: center center;
    top: -110px;
    outline: none;
    &.slick-disabled{
      border: 2px solid #edf1f4;
    }
  }
  .slick-next{
    right: 0;
    background-image: url(../images/icons/related-arrow-right.svg);
  }
  .slick-prev{
    background-image: url(../images/icons/related-arrow-left.svg);
    right: 70px;
  }
}

.blog-page{
  padding: 120px 0;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__contet{
    margin-right: 70px;
  }
  &__aside{
    max-width: 270px;
    width: 100%;
  }
  &__item{
    margin-bottom: 50px;
    max-width: 830px;
  }
  &__item-img{
    width: 830px;
    height: 500px;
    object-fit: cover;
  }
  &__item-title{
    font-size: 36px;
    color: #333;
    padding: 40px 0 30px;
  }
  &__item-text{
    color: $accent;
    margin-bottom: 30px;
  }
  &__item-more{
    font-size: 16px;
    padding: 20px;
    border: 1px solid $btn;
    width: 180px;
    position: relative;
    display: block;
    color: $btn;
    &::after{
      content: '';
      width: 22px;
      height: 9px;
      position: absolute;
      background-image: url(../images/icons/arrow.svg);
      top: 50%;
      transform: translateY(-50%);
      right: 20px;
    }
  }
  &__item-box{
    position: relative;
  }
  .pagination{
    padding-top: 25px;
    justify-content: start;
  }
}

.blog-box{
  display: flex;
  padding: 30px 20px;
  color: #fff;
  background-color: $btn;
  width: 275px;
  position: absolute;
  bottom: 0;
  left: 0;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 10px;
  &__date{
    margin-right: 30px;
    &::before{
      background-image: url(../images/icons/calendar-white.svg);
    }
  }
  &__date,
  &__author{
    padding-left: 20px;
    position: relative;
    &::before{
      content: '';
      width: 10pt;
      height: 11pt;
      position: absolute;
      left: 0;
      bottom: -1px;
      background-position: center center;
    }
  }
  &__author{
    &::before{
      background-image: url(../images/icons/user-article-white.svg);
    }
  }
}

.filter-search{
  &__form{
    display: flex;
  }
  &__input{
    border: 1px solid #edf1f4;
    border-radius: 5px;
    padding: 0 10px;
    height: 40px;
    width: 270px;
  }
  &__btn{
    background-color: #edf1f4;
    border: none;
    border-radius: 5px;
    width: 50px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -50px;
    cursor: pointer;
  }
}

.recent-post{
  &__item{
    display: flex;
    margin-bottom: 20px;
  }
  &__item-img{
    min-width: 70px;
    height: 70px;
    object-fit: cover;
  }
  &__item-title{
    font-size: 14px;
    line-height: 20px;
    color: #333;
    margin-bottom: 5px;
  }
  &__item-box{
    margin-left: 20px;
  }
  &__item-date{
    font-size: 12px;
    color: #9a9a9a;
    text-transform: uppercase;
    svg{
      margin-right: 3px;
    }
  }
}


@import 'media';