.info {
  height: 165px;
  background-color: $bg-form;
  display: flex;
  justify-content: space-around;
  align-items: center;

  &__item {
    position: relative;
    width: 220px;
  }

  &__item-img {
    position: absolute;
    left: -75px;

    &::after {
      content: '';
      width: 20px;
      height: 20px;
      background-color: $btn;
      border-radius: 50%;
      position: absolute;
      right: -3px;
      bottom: 5px;
      opacity: 35%;
    }
  }

  &__item-title {
    @extend %dmsans-700;
    font-size: 18px;
    color: #414141;
    line-height: 1;
    margin-bottom: 10px;
  }
}